{% extends 'base.html.twig' %}

{% block title %}My Quizz - Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container d-flex flex-column align-items-center">
        <h1 id="title_quiz">INSCRIPTION</h1>
        <div class="container-quiz">
            <div class="row container-quiz-layout d-flex flex-column align-items-center">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username, {
                        label: 'Pseudo :'
                    }) }}
                    {{ form_row(registrationForm.email, {
                        label: 'Email :'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe :'
                    }) }}

                    <button type="submit" class="btn button-redirection">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <a href="{{ path('homepage')}}" class="btn button-redirection-homepage">Retour à la page d'accueil</a>
    </div>
{% endblock %}
