{% extends "base.html.twig" %}

{% block title %}My Quiz - Quiz : {{ category.name }}{% endblock %}

{% block body %}
   <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand">My Quiz</a>
        <div class="navbar-nav">
            {% if app.user %}
                <a class="nav-item nav-link active" href="{{ path('quiz_index')}}">Quiz</a>
                <a class="nav-item nav-link" href="{{ path('history_index')}}">Historique</a>
                <a class="nav-item nav-link" href="{{ path('current_user_show')}}">Profil</a>
                <a class="nav-item nav-link" href="{{ path('app_logout')}}">Deconnexion</a>
            {% else %}
                <a class="nav-item nav-link active" href="{{ path('homepage')}}">Home</a>
                <a class="nav-item nav-link active" href="{{ path('quiz_index')}}">Quiz</a>
                <a class="nav-item nav-link" href="{{ path('history_index')}}">Historique</a>
            {% endif %}
        </div>
    </nav>
    <div class="container d-flex flex-column align-items-center">
        <h1 id="title_quiz">QUIZ : &nbsp;{{ category.name }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div> 
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div> 
        {% endfor %}

        <div class="container-quiz">
            <div class="row container-quiz-layout">
                <div class="col col-12 d-flex flex-column">
                    <p id="question">{{ question.question }}</p>
                    <form method="post" action="{{ path('quiz_check', { question: question.id, categorie: category.id }) }}" id="form_answers d-flex flex-column">
                        <input type="hidden" name="question_id" value="{{ question.id }}"/>
                        <input type="hidden" name="categoty_id" value="{{ category.id }}"/>
                        {% for answer in answers %}
                            <label for="{{ answer.id }}">{{ answer.reponse }}</label>
                            <input type="radio" name="answer" id="{{ answer.id }}" value="{{ answer.reponse }}"><br />
                        {% endfor %}
                        <input type="submit" id="submit_answer"/>
                    </form>
                </div>
            </div>
        </div>
        <a href="{{ path('quiz_index')}}" class="btn button-index-quiz" role="button">Retour à la liste des quiz</a>
    </div>
{% endblock %}

